.calculator-grid {
    background-color: lightgray;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: inset;
}

.output {
    padding: 30px 0px;
    margin: 35px 20px 10px;
    background-color: rgba(4, 3, 3, 0.193);
    border-radius: 3px;
    text-align: right;
}

.previous-operand, .current-operand {
    margin-right: 15px;
}

.row > div > button {
    background-color: lightgray;
    border: none;
}   

.row-1 .col-3 {
    text-align: center;
    padding: 30px 0px;
    transition: 0.5s all ease;
    cursor: pointer;
}

.row-1 .col-6 {
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    border-radius: 1px;
    cursor: pointer;
}

.row-1 .col-6, .row-1 .col-6 button {
    background-color: rgb(0, 123, 255);
}

.row-1 .col-6 {
    margin: 27px 0px;
}

.row-2 {
    margin-right: 10px;
}

.mul,.div,.sub,.add {
    color: blue;
}

.clr {
    color: red;
}

.equal {
    color: white;
}

#result {
    display: none;
}